<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist space flights</title>
</head>

<body>
<h1>Lista turystow</h1>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Country</th>
        <th>Delete</th>
    </tr>
    <tr th:each="tourist : ${tourists}">
        <td th:text="${tourist.first}"></td>
        <td th:text="${tourist.last}"></td>
        <td th:text="${tourist.country}"></td>
        <td><a th:href="@{/delete/{id}(id=${tourist.id})}">Delete</a></td>
    </tr>
</table>

<form th:action="@{add}" th:object="${newTourist}" method="post">
    <p>First name: <input type="text" th:field="*{first}"></p>
    <p>Last name: <input type="text"th:field="*{last}"></p>
    <p>Country: <input type="text"th:field="*{country}"></p>
    <p>Add: <input type="submit" value="Add"></p>
</form>
</body>
</html>